<nav class="navbar navbar-full navbar-dark bg-inverse">
  <div class="container" style="height: 100%">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img src="{{ .Site.BaseURL }}/img/logo_no_text.svg" style="height:100%;">
    </a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-toggleable-md" id="navbarResponsive">
      <ul class="nav navbar-nav">
	{{ range .Site.Menus.main }}
	{{ if .HasChildren }}
	<li class="nav-item dropdown">
	  <a class="nav-link dropdown-toggle" href="{{ .URL | absLangURL }}" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Pre }}{{ .Name }}</a>

	  <div class="dropdown-menu">
	    {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Pre }}{{ .Name }}</a>
	    {{ end }}
	  </div>
	</li>
	{{ else }}
	<li class="nav-item"><a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
	{{ end }}
        {{ end }}
        <!-- Switches out the EN and DE Menu Item to change the language -->
        {{ if eq .Lang "de" }}
            <li class="nav-item">
                <a class="nav-link" href="{{ .Site.BaseURL }}en{{ .Permalink | relLangURL }}">EN</a>
            </li>
        {{ else }}
            <li class="nav-item">
                <a class="nav-link" href="{{ replace .Permalink "/en" "" }}">DE</a>
            </li>
	{{ end }}
      </ul>
      <a class="navbar-right float-xs-right" href="#"><i class="fa fa-user-circle fa-2x"></i>LOGIN</a>
    </div>
  </div>
</nav>
