<div align="center" id="loginDiv" >
	<form class="pure-form pure-form-aligned">
		<fieldset>
			<div class="pure-control-group">
				<label for="username">{{ i18n "username" }}</label>
				<input id="username" type="text" placeholder='nethz/{{ i18n "username" }}'>
			</div>

			<div class="pure-control-group">
				<label for="password">{{ i18n "password" }}</label>
				<input id="password" type="text" placeholder='{{ i18n "password" }}'>
			</div>

			<div class="pure-controls">
				<button type="submit" id="loginButton" class="pure-button pure-button-primary">{{ i18n "submit" }}</button>
			</div>
		</fieldset>
	</form>
</div>
