<nav class="navbar navbar-light bg-faded">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ .Site.BaseURL | absLangURL }}">
            <img src="{{ .Site.BaseURL }}logo/{{ .Site.Params.logo }}" height="64px">
        </a>
        <ul class="nav navbar-nav">
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ .URL | absLangURL }}">{{ .Pre }}{{ .Name }}</a>
                    <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
                    {{ range .Children }}
                        <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Pre }}{{ .Name }}</a>
                    {{ end }}
                    </div>
            {{ else }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Pre }}{{ .Name }}</a>
            {{ end }}
            </li>
            {{ end }}
            {{ if eq .Lang "de" }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .Site.BaseURL }}en{{ .Permalink | relLangURL }}">EN</a>
                </li>
            {{ else }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ replace .Permalink "/en" "" }}">DE</a>
                </li>
            {{ end }}
        </ul>
        <a class="navbar-right float-xs-right" href="#" ><i class="fa fa-user-circle fa-2x"></i> LOGIN</a>
    </div>
</nav>
