body
{
    width: 100%;
}

.navbar-brand
{
    height: 100%;
    color: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-dark .navbar-nav .nav-link
{
    color: #ffffff;
    line-height: 40px;
}
    .nav-item i
    {
        margin-right: 5px;
    }

.LoginModal
{
    max-width: 1000rem;
    max-height: 3000rem;
}

.loginLink
{
    padding-top: .425rem;
    padding-bottom: .425rem;
}

.bg-inverse
{
    background-color: #1f2d54!important;
    border-color: #1f2d54;
}
.navbar
{
    height: 70px;
}
div[role=main]
{
    padding-top: 10px;
}
